header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;


  .content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  nav {
    height: 60px;
    display: flex;
    font-family: Fredoka;

    .selected {
      background: #2E3C29;
      color: white;
    }

    button {
      display: inline-block;
      padding: 12px 24px;
      color: #2E3C29;
      background: none;
      border: none;
      cursor: pointer;
      min-width: 160px;
      font-size: 1.8em;

      clip-path: polygon(10% 0,
          100% 0,
          90% 100%,
          0 100%);

      &.selected,
      &:hover {

        background: #2E3C29;
        color: white;
      }
    }

  }
}

.hero {
  /* background: #556B2F; */
  margin-top: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;

    clip-path: polygon(0 12%,
        100% 0,
        100% 88%,
        0 100%);

  }
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5.4vw;
  background: #C49A5A;
  ;

  clip-path: polygon(0 100%,
      100% 0,
      100% 100%,
      0 100%);
}



.links {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 30px auto 100px auto;
  font-size: 1.4em;

  a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  h3 {
    margin: 0;
  }

  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    margin-top: 20px;
    width: 300px;
    border-radius: 50%;

    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
}

.logo {
  font-family: 'Sedgwick Ave Display';
  font-size: 5em;
}

#ristailer,
#treeni,
#seura,
#yhteys {
  font-size: 1.4em;
  width: 800px;
  margin: auto;

  h1 {
    margin-top: 0;
  }

  &>div {
    width: 1200px;
    margin: auto;
  }
}

.spacer {
  width: 100%;
}

.spacer.reversed {
  transform: scale(-1, -1);
}

.last-image {
  display: block;
  margin: 50px auto 10px auto;
  width: 1200px;
}

.highlight {
  position: relative;
  background-color: #C49A5A;
  color: white;
  text-align: center;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 30px;
    font-size: 2em;
    text-transform: uppercase;
    width: fit-content;

    display: inline-block;
    padding: 24px 48px;
    background: #2E3C29;
    color: white;
    border: none;
    cursor: pointer;

    clip-path: polygon(10% 0,
        100% 0,
        90% 100%,
        0 100%);
  }
}

.join-button {
  a {
    text-decoration: none;
    color: white;
  }
}

form {
  padding: 30px;
  border: 1px solid black;
  border-radius: 6px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input, select, textarea {
    min-height: 26px;
    margin-top: 3px;
    margin-bottom: 6px;
    padding: 3px;
  }

  button {
    margin-top: 10px;
    font-size: 1em;
    padding: 6px 24px;
  }

  textarea {
    height: 6em;
  }
}

@media (width > 768px) {
  .hero {
    display: flex;
  }

  .splash {
    display: none
  }

  .highlight {

    padding: 20px 0 40px 0;

    h2 {
      font-size: 3em;
      margin-bottom: 0;
    }


    i {
      font-size: 2em;
    }
  }

  .spacer {

    height: 160px;
    margin: 30px 0;
  }
}


@media (width <=768px) {

  .hero,
  .desktop-nav,
  .links {
    display: none;
  }

  .splash {
    display: flex;
    position: relative;

    .splash-img {
      width: 100%;
    }

    .logo {
      position: absolute;
      width: 100%;
      text-align: center;
      color: white;
      text-shadow: 2px 2px 4px #000000;
      font-size: 20vw;
      top: 35vw;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5.4vw;
      background: #C49A5A;

      clip-path: polygon(0 100%,
          100% 0,
          100% 100%,
          0 100%);
    }
  }

  .highlight {

    padding: 20px 0 60px 0;

    h2 {
      font-size: 2em;
      margin-bottom: 0;
    }


    i {
      font-size: 1.6em;
    }

    button {
      font-size: 1em;

      padding: 12px 24px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7vw;
      background: var(--color-bg);

      clip-path: polygon(0 0,
          100% 100%,
          0 100%,
          0 0);
    }
  }

  #ristailer,
  #treeni,
  #seura,
  #yhteys {
    font-size: 1.3em;
    margin: auto;
    width: 100%;
    padding: 0.4em;

    h1, h2 {
      text-align: center;
      margin-top: 10px;
    }

    p {
      padding: 10px;
    }

    &>div {
      width: 1200px;
      margin: auto;
    }
  }

  form {
    padding: 0.8em;

    button {
      font-size: 0.8em;
      padding: 3px 12px;
    }
  }

  .last-image {
    width: 100%;
  }





}